html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", " Arial", "sans-serif";
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

nav {
  background-color: rgb(50, 52, 60);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
}
header {
  height: 175px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
ul.navlist {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
li.navigationlist {
  display: inline;
  margin: 0 10px;
  text-decoration: underline;
  line-height: 100px;
  color: rgb(159, 202, 204);
  justify-content: flex-end;
}
li.navigationlist a {
  display: block;
  padding: 10px;
  color: rgb(159, 202, 204);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(159, 202, 204);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.navigationheader {
  color: rgb(50, 52, 60);
  border: 5px rgb(159, 202, 204);
  line-height: 100px;
  width: fit-content;
  margin: 15px;
  height: 75%;
  background-color: rgb(159, 202, 204);
}
.page-title {
  color: rgb(50, 52, 60);
  border: 5px rgb(159, 202, 204);
  line-height: 100px;
  width: fit-content;
  margin: 15px;
  height: 75%;
  background-color: rgb(159, 202, 204);
}
.form-row {
  padding: 5px;
  margin: 5px;
}
.imagecaption {
  border-radius: 50%;

  max-width: 15%;
}
.body-section {
  padding: 50px;
  display: flex;
}

h1.article-heading {
  font-size: 32px;
}

img.portfolio-images {
  max-width: 100%;
  border: 5px solid darkcyan;
  border-radius: 4px;
  padding: 1px;
}
.portfolio-images-text-container {
  position: relative;
  text-align: centre;
  color: whitesmoke;
}
.porfolio-images-text-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 5px;
  background-color: rgb(2, 149, 149);
  padding: 5px;
  margin: 0px;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
  justify-content: center;
}
ul.footerlink {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li.footerlink {
  display: inline;
  text-decoration: none;
  line-height: 100px;
}

/* Re-size for devices*/
/* styles for mobile browsers smaller than 480px; (iPhone) */

@media only screen and (max-width: 480px) {
  nav {
    width: fit-content;
  }
  header {
    object-fit: fill;
  }
  li.navigationlist {
    display: inline;
    margin: 0 10px;
    line-height: 0px;
    text-decoration: underline;
    color: rgb(159, 202, 204);
  }
  li.navigationlist a {
    display: block;
    padding: 10px;
    background-color: rgb(50, 52, 60);
  }

  footer {
    width: 100%;
  }
  ul.footerlink {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li.footerlink {
    display: inline;
    text-decoration: none;
  }
}
